.bg{
    background-image: url(../sf-images/fridge.jpg);
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.header{
    margin-top: 20px;
    margin-bottom: 50px;
    background: rgb(151, 151, 151, .75);
    text-align: center;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
}

.label-text{
    color: black;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

#result-label{
    margin-bottom: 10px;
}

.btn_container{
    width: 30%
}

.btn-fill{
    width: 100%;
}

.box-border{
    border: 1px solid black;

}

.div-container{
    background: rgb(151, 151, 151, .75);
}

#ingredient-list{
    margin-bottom: 20px;
}

.card{
    width: 50%
}